@media screen {
    /* Hide Placeholder text on focus */
    input:focus::-webkit-input-placeholder { color:transparent; } /* Webkit */
    input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
    input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
    input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

    .template {
        min-height: 100%;
        padding-bottom: 80px;
        background-color: #fff;
        font-size: 14px;
    }

    .breadcrumbContainer {
        position: relative;
        height: 80px;
    }

    .breadcrumb {
        background: none;
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 30px;
    }

    .breadcrumb > li::after, .breadcrumb > li + li::after {
        content: "/ ";
        padding: 0 5px;
    }

    .ui-widget {
        background-color: #f1f1f2;
        padding: 15px;
        margin-bottom: 15px;
    }

    .ui-widget > label {
        font-weight: bold;
        margin: 0;
    }
}

.ui-widget  md-input-container{
    padding-left: 20px;
    padding-right: 20px;
    width: 75%;
}

md-option.mat-option {
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    height: auto;
    padding-bottom: 3px;
}

md-option.mat-option span mark{
    background: yellow;
}

.errorText{
    color: red;
}