<!DOCTYPE html>
<html>

    <head>
        <title>CNR - Namer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- BC GOV -->
        <script src="https://unipear.api.gov.bc.ca/v1/bcgov/"></script>
        <script type="text/javascript">
            unippear({
                "headerContainer": "#govWrapper",
                "footerContainer": "#govWrapper"
            });
        </script>

        <link rel="stylesheet" href="/static/css/search.css">
        <link rel="stylesheet" href="/static/js/app/node_modules/@angular/material/prebuilt-themes/indigo-pink.css">
    </head>

    <body>
        <div id="govWrapper">
            <div class="template container">
                <div class="breadcrumbContainer" role="navigation">
                    <ol class="breadcrumb">
                        <li><a href="http://www2.gov.bc.ca/gov/content/home">Home</a></li>
                    </ol>
                </div>
                <namer>Loading CNR Namer</namer>
            </div>
        </div>
        <script src="/static/js/app/build.js" async defer></script>
    </body>

</html>
