<!DOCTYPE html>
<html>

    <head>
        <title>CNR - Namer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- BC GOV -->
        <script src="https://unipear.api.gov.bc.ca/v1/bcgov/"></script>
        <script type="text/javascript">
            unippear({
                "headerContainer": "#govWrapper",
                "footerContainer": "#govWrapper"
            });
        </script>

        <link rel="stylesheet" href="/static/css/search.css">
        <link rel="stylesheet" href="/static/js/app/node_modules/@angular/material/prebuilt-themes/indigo-pink.css">
    </head>

    <body>
        <div id="govWrapper">
            <namer>Loading CNR Namer</namer>
        </div>
    </body>
    <script src="/static/js/app/build.js"></script>

</html>
