<!DOCTYPE html>
<html>

    <head>
        <title>CNR - Namer</title>
        <meta charset="UTF-8">
        <!-- BC GOV -->
        <script src="https://unipear.api.gov.bc.ca/v1/bcgov/"></script>
        <script type="text/javascript">
            unippear({
                "headerContainer": "#govWrapper",
                "footerContainer": "#govWrapper"
            });
        </script>
        <link rel="stylesheet" href="/static/css/search.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    </head>

    <body>
        <div id="govWrapper">
            <h1>CNR - Namer</h1>
            <div class="ui-widget">
                <label for="search">Search:</label>
                <input class="form-control autocomplete" id="search" />
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="/static/js/search.js"></script>
    </body>

</html>